div(class="card")
  div(class="card-body")
    h3(class="card-title") Productos
    table(class="table")
      thead
        tr
          th Nombre
          th Precio
          th Foto
      tbody(id="productsContainer")